.section3 {
    background-color: #151515;
    width: 1349px;
    height: 550px;
    
}
#section3-main{
    display: flex;
    justify-content: space-between;
  
}

.section3 .section3-p {
    color: white;
    display: inline-block;
}

.section3 #section3-p1 {
    color: rgb(255, 81, 0);
}

#section3-p1 {
    display: block;
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 20px;
}

#section3-p2 {
    display: block;
    position: relative;
    top: 13px;
    text-align: center;
    font-size: 42px;
}
#section3-content1{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
}
#section3-content1:hover .section3-content1-p{
    color: white;
}

.section3-content1-p{
    color: #f36100;
    font-size: 25px;
    font-weight: 900;
}
#section3-content1-img{
    width: 400px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
#section3-content1-p1{
    position: relative;
    left: 35px;
}
#section3-content1-p2{
    position: relative;
    right: 50px;
}






#section3-content2  {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
}
#section3-content2:hover .section3-content2-p{
    color: white;
}
.section3-content2-p{
    color: #f36100;
    font-size: 25px;
    font-weight: 900;
}
#section3-content2-img{
    width: 400px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
#section3-content2-p1{
    position: relative;
    left: 35px;
}
#section3-content2-p2{
    position: relative;
    right: 50px;
}



#section3-content3  {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
}
#section3-content3:hover .section3-content3-p{
    color: white;
}
.section3-content3-p{
    color: #f36100;
    font-size: 25px;
    font-weight: 900;
}
#section3-content3-img{
    width: 400px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
#section3-content3-p1{
    position: relative;
    left: 35px;
}
#section3-content3-p2{
    position: relative;
    right: 50px;
}

